.product {
    display: inline-block;
    margin: 12px 24px;
    padding:12px;

    border: 1px solid #6a6a6a;
    border-radius: 12px;
}

.product:hover {
    border-color: chocolate;
}

.product .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product img {
    height: 220px;
    width: 220px;

    aspect-ratio: 1;
}

.product .add {
    width: 100%;
}